---
import Layout from "../layouts/Layout.astro";
---
<Layout>
    <div class="grid grid-cols-1 w-full ">

    
        <div class=" flex justify-center items-center w-full ">
            <div class="grid grid-flow-row justify-center items-center px-3 py-2 hover:cursor-pointer">
                <a href="/" >
                    <img src="/logo_Yu_preview_rev_2.png" alt="YourUniversity logo" class="w-12 h-12 ml-14 md:ml-16">
                </a>
                <div class="flex justify-center items-center;">
                    <span class=" text-black font-extrabold text-2xl" 
                    style="font-family: 'Bricolage Grotesque', sans-serif;">YourUniversity</span>
                </div>
            </div>
        </div>
        <div class="flex items-center justify-center ml-4 md:ml-0">
            <p class=" max-w-md text-center  font-medium " style="font-family: 'Inter', sans-serif;">
                Bienvenido a YourUniversity, ¿Qué hay de nuevo?.
                Inicia Sesión para continuar.
            </p>
        </div>
        <div class=" rounded-2xl bg-white ml-2 mr-2 mt-2 shadow-lg  px-4 py-4 md:px-20 md:py-16 md:ml-60 md:mt-8 md:mr-60 md:mb-8">
            <form action="input" class="">
                <h1 
                    class="text-black text-2xl font-medium mb-4"
                    style="font-family: 'Inter', sans-serif;">
                    Inicio de Sesión
                </h1>
                <div class="grid py-2 relative">
                    <input 
                    id="email" 
                    class="peer text-black rounded-2xl outline-none border-none
                    bg-gray-100 px-4 py-4 w-full focus:border-black focus:ring-0
                    focus:bg-gray-200 placeholder-transparent
                    placeholder:text-sm hover:cursor-pointer hover:bg-gray-200"
                    placeholder="Correo"
                    type="text">
                    <label 
                        for="email" 
                        class="absolute left-4 top- text-sm text-gray-600
                        px-1 transition-all 
                        peer-placeholder-shown:text-base 
                         peer-placeholder-shown:text-gray-500 
                        peer-placeholder-shown:top-6 
                        peer-focus:top-2
                        peer-focus:text-xs peer-focus:text-black">
                        Correo
                    </label>
                </div>
                <div class="grid py-2 relative">
                    <input 
                    id="password" 
                    class="peer text-black rounded-2xl outline-none border-none
                    bg-gray-100 px-4 py-4 w-full focus:border-black focus:ring-0
                    focus:bg-gray-200 placeholder-transparent
                    placeholder:text-sm hover:cursor-pointer hover:bg-gray-200"
                    placeholder="Contraseña"
                    type="password">
                    <label 
                        for="password" 
                        class="absolute left-4 top- text-sm text-gray-600
                        px-1 transition-all 
                        peer-placeholder-shown:text-base 
                         peer-placeholder-shown:text-gray-500 
                        peer-placeholder-shown:top-6 
                        peer-focus:top-2
                        peer-focus:text-xs peer-focus:text-black">
                        Contraseña
                    </label>
                </div>
            
                <div class="grid grid-cols-1 items-center justify-center md:grid-cols-2">
                
                    <div class="">
                        <input
                        type="checkbox"
                        class="ml-6  w-4 h-4 bg-gray-300 border border-gray-300 
                        focus:ring-o focus:ring-offset-0 focus:outline-none text-gray-950
                        focus:ring-transparent
                        rounded-md checked:bg-gray-950 checked:border-transparent"
                        id="check">
                        <label class="text-gray-600" for="check">Recordarme.
                        </label>
                    </div>
                    <div class=" flex justify-end" >
                        <input type="submit" 
                        class="flex justify-center 
                        items-center bg-gray-950 rounded-full 
                        md:py-3 md:px-6 px-2 py-2 text-white font-medium mt-6"
                        style="font-family: 'Inter', sans-serif;"
                        value="Iniciar Sesión"
                        >
                    </div>
                </div>
            </form>
        </div>
    </div>
</Layout>