

<footer class="bg-gray-100 py-20 border-t border-gray-200 pt-1 pb-3">
        <div class="container mx-auto px-4 ml-0 mr-0">
            <div class=" grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 px-3 py-2 ">
                
                <div class="flex flex-col">
                    <div class="flex items-center hover:cursor-pointer">
                        <a href="/" >
                            <img src="/logo_Yu_preview_rev_2.png" alt="YourUniversity logo" class="w-12 h-12">
                        </a>
                        <span class="text-black font-extrabold text-2xl ml-1" 
                        style="font-family: 'Bricolage Grotesque', sans-serif;">YourUniversity</span>
                    </div>
                    <p class="mt-3 text-gray-500 text-sm">
                        Somos una plataforma educativa con el objetivo de mejorar la organización,
                         productividad y la realización de tareas  para estudiantes.</p>
                </div>
            </div>
            <div class="flex flex-col-1">

            </div>
            <div class="justify-center  border-t border-gray-200 mt-8 pt-6 text-center text-gray-500 text-sm">
                <p>&copy; {new Date().getFullYear()} YourUniversity. Todos los derechos reservados.</p>
            </div>
        </div>
</footer>
