---
console.log("Hello World!");
---


<nav class="px-6 py-4 bg-gray-50 flex justify-between ">
        <div class=" flex items-center justify-start lg:ml-48 lg">
            <div class="rounded-full px-3 py-2 hover:bg-gray-200 mr-8">
                    <a href="/" class="flex items-center">
                        <img src="/logo_Yu_preview_rev_2.png" alt="YourUniversity logo" class="w-8 h-8">
                        <span class="text-black font-extrabold text-xl ml-1" style="font-family: 'Bricolage Grotesque', sans-serif; margin-left: 1rem;">YourUniversity</span>
                    </a>
            </div>
            <ul class="hidden space-x-6 items-center lg:flex lg:overflow-auto">
                    <li class="justify-center">
                        <a href="/nosotros"class="text-gray-400 font-medium hover:text-black" 
                        style="font-family: 'Inter', sans-serif;">Nosotros</a>
                    </li>
                    <li class="justify-center">
                        <a href="/herramientas" class="text-gray-400 font-medium hover:text-black" 
                        style="font-family: 'Inter', sans-serif;">Herramientas</a>
                    </li>
            </ul>
        </div>
        <div class="hidden  items-center space-x-5 lg:flex lg:overflow-auto">
            <a href="/login" class="text-gray-400 font-medium hover:text-black hover:bg-gray-200 px-2 py-1 rounded-full"
            style="font-family: 'Inter', sans-serif;">Iniciar Sesión</a>
            <a class="text-gray-500">|</a>
            <a href="/register" class="text-gray-400 font-medium hover:text-black  hover:bg-gray-200 px-2 py-1 rounded-full"
            style="font-family: 'Inter', sans-serif;">Registrarse</a>
        </div>
        <div class="col-span-1 flex justify-center items-center">
            <div class="justify-center items-center" title="Toggle theme">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  width="20px"
                  height="20px"
                  fill="#b2b2b2"
                  class="theme-toggle__expand"
                  viewBox="0 0 32 32"
                >
                  <clipPath id="theme-toggle__expand__cutout">
                    <path d="M0-11h25a1 1 0 0017 13v30H0Z" />
                  </clipPath>
                  <g clip-path="url(#theme-toggle__expand__cutout)">
                    <circle cx="16" cy="16" r="8.4" />
                    <path d="M18.3 3.2c0 1.3-1 2.3-2.3 2.3s-2.3-1-2.3-2.3S14.7.9 16 .9s2.3 1 2.3 2.3zm-4.6 25.6c0-1.3 1-2.3 2.3-2.3s2.3 1 2.3 2.3-1 2.3-2.3 2.3-2.3-1-2.3-2.3zm15.1-10.5c-1.3 0-2.3-1-2.3-2.3s1-2.3 2.3-2.3 2.3 1 2.3 2.3-1 2.3-2.3 2.3zM3.2 13.7c1.3 0 2.3 1 2.3 2.3s-1 2.3-2.3 2.3S.9 17.3.9 16s1-2.3 2.3-2.3zm5.8-7C9 7.9 7.9 9 6.7 9S4.4 8 4.4 6.7s1-2.3 2.3-2.3S9 5.4 9 6.7zm16.3 21c-1.3 0-2.3-1-2.3-2.3s1-2.3 2.3-2.3 2.3 1 2.3 2.3-1 2.3-2.3 2.3zm2.4-21c0 1.3-1 2.3-2.3 2.3S23 7.9 23 6.7s1-2.3 2.3-2.3 2.4 1 2.4 2.3zM6.7 23C8 23 9 24 9 25.3s-1 2.3-2.3 2.3-2.3-1-2.3-2.3 1-2.3 2.3-2.3z" />
                  </g>
                </svg>
              </div>
        </div>
</nav>