---
import Layout from "../../layouts/Layout.astro";
import Navdashboard from "../../components/features/dashboard/navdashboard.astro";
import Dashboard from "../../components/features/dashboard/dashboard.astro";
---
<Layout>
    <div class="flex md:p-3 min-h-scren bg-neutral-100 md:space-x-3  ">
        <Navdashboard />
        <Dashboard />
    </div>
</Layout>