---
import '../styles/global.css';
import { ThemeProvider } from '../context/ThemeContext.jsx';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
    	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    	<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    	<link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap" rel="stylesheet">
		<link rel="icon" type="image/png" href="/logo_Yu_preview_rev_2.png" />
		<title>YourUniversity</title>
		<script is:inline>
			const theme = (() => {
				if (typeof localStorage !== 'undefined' && 
				localStorage.getItem('theme')) {
					return localStorage.getItem('theme');
				}
				return 'light';
			})();
			if (theme === 'dark') {
				document.documentElement.classList.add('dark');
			} else {
				document.documentElement.classList.remove('dark');
			}
		</script>
	</head>
	<body class="transition-colors duration-300 dark:bg-gray-900" >
		<ThemeProvider>
			<slot />
		</ThemeProvider>
	</body>
</html>

